<html>
<head>
  <title>Angular "multiple elements per component" demo</title>
</head>
<body>
<div class="my-grid">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <app-with-host-element></app-with-host-element>
  <app-display-contents></app-display-contents>
  <app-outside-host-element></app-outside-host-element>
</div>
<section style="max-width: 800px; margin: auto">
  <p>
    See <a href="">this post at blog.cosee.biz</a> for more details.
  </p>
  <p>
    This page is hosted in Github Pages. See [GitHub Privacy Statement](https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement)
    for details.
  </p>
</section>
</body>
</html>
