<html>
<head>
  <title>Angular "multiple elements per component" demo</title>
</head>
<body>
<h1>
  How to render multiple elements with a single Angular component?
</h1>
<p>
<p>
  Details for this example can be found in <a href="https://blog.cosee.biz">this post at blog.cosee.biz (Not yet published)</a>.
</p>
<p>
  The outer box is a div-element with <code>display: grid</code>. The goal is to create
  a component that renders multiple tags such that they are correctly inserted in
  the grid.
</p>
<div class="my-grid">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <app-with-host-element></app-with-host-element>
  <app-display-contents></app-display-contents>
  <app-outside-host-element></app-outside-host-element>
</div>
<section style="max-width: 800px; margin: auto">
  <p>
    Source code:
  </p>
  <dl>
    <dt><a href="{{githubBasePath}}/with-host-element">with host element</a></dt>
    <dd>The default case: Angular always wraps
      components
      in an enclosing host-element, messing up the grid layout.
    </dd>
    <dt><a href="{{githubBasePath}}/display-contents">display contents</a>
    <dt>
    <dd> Setting <code>display: contents</code> as
      style for the host-element.
    </dd>
    <dd>
    <dt><a href="{{githubBasePath}}/outside-host-element">outside host element</a></dt>
    <dd>Uses the approach from <a
      href="https://stackoverflow.com/a/56887630">https://stackoverflow.com/a/56887630</a>
      to render the child elements directly inside the container and hide the host element.
    </dd>
  </dl>
  <hr/>
  <p>
    This page is hosted on Github Pages. See <a
    href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement">GitHub Privacy
    Statement</a>
    for details.
  </p>
  <p>Author: Nils Knappmeier</p>
  <p>Source code: <a href="https://github.com/cosee/angular-multiple-elements-example">https://github.com/cosee/angular-multiple-elements-example</a></p>
</section>
</body>
</html>
