/* You can add global styles to this file, and also import other style files */

body {
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 1.5rem;
}

div {
  border: 1px solid #aaa;
  background-color: rgba(0,0,0,0.1);
  padding: 0.5rem;
}

dd {
  margin-bottom: 0.5rem;
}
